body{
    padding:40px;

}

.container{
    max-width: 600px;
    margin:5 auto;
    padding:5px;
    box-shadow:rgba(100, 100, 111, 0.2) 5px 7px 29px 0px;
}
.form-group{
    margin-bottom: 50px;
}